/* .login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  
  }
  
  .login-form-full-width{
   
    width: 100%;
    
  }
  .login-div{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  #login-btn{
    width:200px;
    height:40px;
   } */
   .backGround {
    background-image: url(..\..\..\images\background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
 
.full-width {
  width: 100%;
}