.customer-info-card {
    max-width: 400px;
    margin:30px;
    margin-right: auto;
    margin-left: auto;
}

.acount-info-card {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
 }