<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="backGround">
  <mat-card class="customer-info-card" *ngIf="this.acountInfo">
    <mat-card-title>{{this.acountInfo.firstName}} {{this.acountInfo.lastName}}</mat-card-title>
    <mat-card-subtitle>{{this.acountInfo.email}}</mat-card-subtitle>
  </mat-card>
  <mat-card class="acount-info-card">
    <mat-card-content *ngIf="this.acountInfo">
      <p>open date:{{this.acountInfo.openDate|date:'EEEE  , d/MMMM/y'}}</p>
      <p>balance:{{this.acountInfo.balance}}</p>
    </mat-card-content>
  </mat-card>
</body>

</html>