<body class="backGround">
    <mat-toolbar color="primary">
    <mat-toolbar-row>
       <span class="spacer"></span>
       <a mat-button  (click)="navigateToRegister()">Register</a>
       <a mat-button (click)="navigateToLogin()">Login</a>
        <a mat-button [disabled]="!this._customerService.customer" (click)="navigateToAddTransaction()" >Transaction</a>
        <a mat-button [disabled]="!this._customerService.customer" (click)="navigateToOperationsHistory()" >Operations history</a>
      
       </mat-toolbar-row>
 </mat-toolbar>
 <router-outlet></router-outlet>
</body>
